.homeBanner {
    height: 100dvh;
    min-height: 100dvh;
    background-image: url('../images/home-banner-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.homeBanner::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(180deg, rgba(18, 16, 16, 0) 0%, #1E1E1E 100%);
    z-index: 0;
}

.homeBanner .homeBanner-heading {
    font-size: clamp(35px, 5vw, 75px);
    font-style: normal;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0em;
    line-height: clamp(42px, 5.2vw, 65px);
}

.homeBanner .homeBanner-btn button {
    width: 230px;
    height: 60px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 10px;
    z-index: 1;
    transition: transform 0.5s ease;
}

.homeBanner .homeBanner-btn button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    z-index: -1;
}

.homeBanner .homeBanner-btn button:hover {
    color: #000;
}

.homeBanner .homeBanner-btn button:hover::before {
    transform: scaleX(1);
    transition: transform 0.5s ease;
}

@media (max-width: 768px) {
    .homeBanner .homeBanner-btn button {
        width: 180px;
        height: 50px;
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .homeBanner .homeBanner-btn button {
        width: 150px;
        height: 45px;
        font-size: 12px;
    }
}

@media (max-width: 374px) {
    .homeBanner .homeBanner-btn button {
        width: 130px;
        height: 45px;
        font-size: 12px;
    }
}

/***************************** Home Banner End *****************************/

/***************************** Photography location Start *****************************/
.photographyLocation-Section .labelHeading {
    font-size: clamp(30px, 4vw, 50px);
    font-style: normal;
}

.photographyLocation-Section .photographyHeading {
    font-size: clamp(35px, 5vw, 75px);
    font-style: normal;
    font-weight: 500;
}

.photographyLocation-Section .locationHeading {
    font-size: clamp(30px, 4vw, 50px);
    font-style: normal;
}

.photographyLocation-Section .photographyLocation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 1440px;
    margin: 0 auto;
}

.photographyLocation-Section .photographyLocation .location-card {
    position: relative;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    animation: slideUpIn 0.8s ease-out both;
}

.photographyLocation-Section .location-card .location-label {
    font-size: clamp(18px, 2.5vw, 30px);
}

@media (max-width: 1053px) {
    .photographyLocation-Section .photographyLocation {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

@media (max-width: 768px) {
    .photographyLocation-Section .photographyLocation {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media (max-width: 425px) {
    .photographyLocation-Section .photographyLocation {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}

/************************* Photography Section End *****************************/


/************************* PhotographyService Section Start *****************************/
.photographyService-Section {
    overflow: hidden;
    width: 100%;
}

.photographyService-Section .photographyTags {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.photographyService-Section .photographyTags div:nth-of-type(1) {
    width: 140px;
}

.photographyService-Section .photographyTags div:nth-of-type(2) {
    width: 140px;
}

.photographyService-Section .photographyButtons-container .photographyButtons {
    width: 303px;
    height: 63px;
    line-height: 63px;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid #EAE0D6;
    font-size: clamp(22px, 2.3vw, 30px);
}

.photographyService-Section .photographyButtons-container .photographyButtons.active {
    background: #EAE0D6;
    color: #000;
}



@media (max-width: 768px) {
    .photographyService-Section .photographyButtons-container .photographyButtons {
        height: 55px;
        line-height: 55px;
    }
}

@media (max-width: 425px) {
    .photographyService-Section .photographyButtons-container .photographyButtons {
        height: 45px;
        line-height: 45px;
        font-size: 18px;
    }
}

.photographyService-Section .photographyservice-slider .swiper-slide {
    border: 1px solid #fff;
    border-radius: 25px;
    position: relative;
}

.photographyService-Section .photographyservice-slider .photographySlider-content {
    position: absolute;
    top: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: +99;
}

.photographyService-Section .photographyservice-slider .photographySlider-content .photographySlider-heading {
    font-size: clamp(25px, 4vw, 45px);
    font-style: normal;
}

.photographyService-Section .photographyservice-slider .photographySlider-content span {
    font-size: clamp(25px, 4vw, 45px);
    font-style: normal;
}

.photographyService-Section .photographyservice-slider .photographySlider-content p {
    font-size: clamp(14px, 1.2vw, 17px);
    font-style: normal;

}

.photographyService-Section .photographyservice-slider .swiper-slide img {
    height: 480px;
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

@media (max-width:1500px) {
    .photographyService-Section .photographyservice-slider .swiper-slide img {
        height: 450px;
        border: 1px solid #fff;
    }
}

@media (max-width:991px) {
    .photographyService-Section .photographyservice-slider .swiper-slide img {
        height: 380px;
    }
}

@media (max-width:850px) {
    .photographyService-Section .photographyservice-slider .swiper-slide img {
        height: 360px;
    }
}

@media (max-width:768px) {
    .photographyService-Section .photographyservice-slider .swiper-slide img {
        height: 350px;
    }
}

@media (max-width:700px) {
    .photographyService-Section .photographyservice-slider .swiper-slide img {
        height: 300px;
    }
}

@media (max-width:530px) {
    .photographyService-Section .photographyservice-slider .swiper-slide img {
        height: 280px;
    }
}

@media (max-width:425px) {
    .photographyService-Section .photographyservice-slider .swiper-slide img {
        height: 300px;
    }
}

@media (max-width:375px) {
    .photographyService-Section .photographyservice-slider .swiper-slide img {
        height: 280px;
    }
}

/***************************** PhotographyService Section End *****************************/



/***************************** WhyChoose Section Start *****************************/
.whyChooseUs-Section {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/whyChoose-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.whyChooseUs-Section .whyChooseUs-content .chooseUs-card {
    box-sizing: border-box;
    border: 1px solid #121010;
    border-radius: 20px;
    font-size: clamp(16px, 1.5vw, 20px);
    min-height: 112px;
    width: 100%;
}

@media (max-width: 768px) {
    .whyChooseUs-Section .whyChooseUs-content .chooseUs-card {
        min-height: 100px;
    }
}

/***************************** WhyChoose Section End *****************************/


/***************************** Our Portfolio Section Start *****************************/

.ourPortfolio-Section .ourPortfolioButtons-container .ourPortfolioButtons {
    width: 303px;
    height: 63px;
    line-height: 63px;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid #EAE0D6;
    font-size: clamp(22px, 2.3vw, 30px);
}

.ourPortfolio-Section .ourPortfolioButtons-container .ourPortfolioButtons.active {
    background: #EAE0D6;
    color: #000;
}

.ourPortfolio-Section .ourPortfolio-slider {
    height: 100%;
    height: 600px;
}

.ourPortfolio-Section .ourPortfolio-slider .swiper-wrapper {
    align-items: center;
    transition: transform 0.4s ease-in-out;
}

.ourPortfolio-Section .ourPortfolio-slider .swiper-slide {
    height: 480px;
    width: 100%;
    opacity: 0.5;
    transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.ourPortfolio-Section .ourPortfolio-slider .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.4s ease-in-out;
}

.ourPortfolio-Section .ourPortfolio-slider .swiper-slide-active {
    height: 550px;
    opacity: 1;
    transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.404);
    /* change color as needed */
}

@media (max-width: 1800px) {
    .ourPortfolio-Section .ourPortfolio-slider {
        height: 600px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide {
        height: 480px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide-active {
        height: 550px;
    }
}

@media (max-width: 1440px) {
    .ourPortfolio-Section .ourPortfolio-slider {
        height: 560px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide {
        height: 460px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide-active {
        height: 540px;
    }
}

@media (max-width: 1200px) {
    .ourPortfolio-Section .ourPortfolio-slider {
        height: 550px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide {
        height: 450px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide-active {
        height: 520px;
    }
}

@media (max-width: 1100px) {
    .ourPortfolio-Section .ourPortfolio-slider {
        height: 540px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide {
        height: 430px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide-active {
        height: 500px;
    }
}

@media (max-width: 1024px) {
    .ourPortfolio-Section .ourPortfolio-slider {
        height: 520px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide {
        height: 410px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide-active {
        height: 480px;
    }
}

@media (max-width: 991px) {
    .ourPortfolio-Section .ourPortfolio-slider {
        height: 520px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide {
        height: 410px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide-active {
        height: 480px;
    }
}

@media (max-width: 768px) {
    .ourPortfolio-Section .ourPortfolio-slider {
        height: 480px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide {
        height: 360px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide-active {
        height: 430px;
    }

    .ourPortfolio-Section .ourPortfolioButtons-container .ourPortfolioButtons {
        height: 55px;
        line-height: 55px;
    }
}

@media (max-width: 600px) {
    .ourPortfolio-Section .ourPortfolio-slider {
        height: 450px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide {
        height: 370px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide-active {
        height: 410px;
    }
}
@media (max-width: 500px) {
    .ourPortfolio-Section .ourPortfolio-slider {
        height: 440px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide {
        height: 340px;
    }

    .ourPortfolio-Section .ourPortfolio-slider .swiper-slide-active {
        height: 380px;
    }
}
@media (max-width: 425px) {
    .ourPortfolio-Section .ourPortfolioButtons-container .ourPortfolioButtons {
        height: 45px;
        line-height: 45px;
        font-size: 18px;
    }
}

/***************************** Our Portfolio Section End *****************************/