.homeBanner {
    height: 100dvh;
    min-height: 100dvh;
    background-image: url('../images/home-banner-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.homeBanner::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(180deg, rgba(18, 16, 16, 0) 0%, #1E1E1E 100%);
    z-index: 0;
}

.homeBanner .homeBanner-heading {
    font-size: clamp(30px, 5vw, 70px);
    font-style: normal;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0em;
    line-height: clamp(42px, 5.2vw, 65px);
}

.homeBanner .homeBanner-btn button {
    width: 230px;
    height: 60px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 10px;
    z-index: 1;
    transition: transform 0.5s ease;
}

.homeBanner .homeBanner-btn button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    z-index: -1;
}

.homeBanner .homeBanner-btn button:hover {
    color: #000;
}

.homeBanner .homeBanner-btn button:hover::before {
    transform: scaleX(1);
    transition: transform 0.5s ease;
}

@media (max-width: 768px) {
    .homeBanner .homeBanner-btn button {
        width: 180px;
        height: 50px;
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .homeBanner .homeBanner-btn button {
        width: 150px;
        height: 45px;
        font-size: 12px;
    }
}

@media (max-width: 374px) {
    .homeBanner .homeBanner-btn button {
        width: 130px;
        height: 45px;
        font-size: 12px;
    }
}

/***************************** Home Banner End *****************************/

/***************************** Photography Section Start *****************************/
.photography-section .labelHeading {
    font-size: clamp(20px, 4vw, 50px);
    font-style: normal;
}

.photography-section .photographyHeading {
    font-size: clamp(30px, 5vw, 70px);
    font-style: normal;
    font-weight: 500;
}

.photography-section .locationHeading {
    font-size: clamp(20px, 4vw, 50px);
    font-style: normal;
}

.photography-section .photographyLocation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 1350px;
    margin: 0 auto;
}

.photography-section .photographyLocation .location-card {
    position: relative;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    animation: slideUpIn 0.8s ease-out both;
}

.photography-section .location-card .location-label {
    font-size: clamp(18px, 2.5vw, 30px);
}

@media (max-width: 1053px) {
    .photography-section .photographyLocation {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

@media (max-width: 768px) {
    .photography-section .photographyLocation {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media (max-width: 425px) {
    .photography-section .photographyLocation {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}

/************************* Photography Section End *****************************/